<div id="order_book">
  <div class="order_book_asks">
    <div class="panel panel-default">
      <div class="panel-body panel-body-head">
        <table class="table">
          <thead>
            <tr>
              <th class="price col-xs-7">
                <%= t('.ask') %>
              </th>
              <th class="amount text-center col-xs-7">
                <%= t('.amount') %>
              </th>
              <th class="volume text-right col-xs-7">
                <%= t('.volume') %>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="panel-body panel-body-content">
        <table class="table table-hover asks">
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  
  <div id="ticker" class="row">
      <div class="bid col-xs-7 pull-left">
        <div class="hint">
          <%= t('.bid') %>
        </div>
        <div class="price text-up"></div>
      </div>
      <div class="last col-xs-10 text-center">
        <div class="price"></div>
      </div>
      <div class="ask col-xs-7 pull-right">
        <div class="hint">
          <%= t('.ask') %>
        </div>
        <div class="price text-down"></div>
      </div>
  </div>

  <div class="order_book_bids">
    <div class="panel panel-default">
      <div class="panel-body panel-body-head">
        <table class="table">
          <thead>
            <tr>
              <th class="price col-xs-7">
                <%= t('.bid') %>
              </th>
              <th class="amount text-center col-xs-7">
                <%= t('.amount') %>
              </th>
              <th class="volume text-right col-xs-7">
                <%= t('.volume') %>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="panel-body panel-body-content">
        <table class="table table-hover bids">
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
</div>